{{>layout/header}}
<style>
  .center-box {
    text-align: center;
  }

  .right-box {
    float: right;
  }

  .makebold {
    font-weight: bold;
  }

</style>
<h1 style="text-align:center;">매우 간단한 게시판</h1>
<div class="col-md-12">
    <div class="row justify-content-end" style="align-items: center;">
        <!-- 시계 -->
        <div class="d-flex justify-content-end">
            <div>
                <h2 class="makebold" style="font-size: 50px; margin-bottom: 10px;" id="clock"></h2>
                <script src="js/app/clock.js"></script>
            </div>
        </div>
        <div class="col-md-6 order-1 order-md-1 d-flex justify-content-end">
            <!-- 글 등록 버튼 -->
            <a href="/posts/save" class="btn btn-primary ml-2">글 등록</a>
            <!-- 로그인 버튼 -->
            {{#LoginUserName}}
                <span class="makebold" id="users" style="font-size: 20px">로그인 중: {{LoginUserName}}</span>
                <a href="/logout" class="btn btn-info text-white ml-2 active" role="button">로그아웃</a>
            {{/LoginUserName}}
            {{^LoginUserName}}
                <a href="/oauth2/authorization/google" class="btn btn-success ml-2 active" role="button">Google 로그인</a>
                <a href="/oauth2/authorization/naver" class="btn btn-secondary ml-2 active" role="button">Naver 로그인</a>

            {{/LoginUserName}}
        </div>
    </div>
    <!-- 목록 출력 영역-->
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>게시글 번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>최종수정일</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#posts}}
            <tr>
                <td>{{id}}</td>
                <td><a href="/posts/update/{{id}}">{{title}}</a></td>
                <!--<td></td>-->
                <td>{{content}}</td>
                <td>{{modifiedDate}}</td>
            </tr>
        {{/posts}}
        </tbody>
    </table>

</div>
{{>layout/footer}}